.about__title {
  border-bottom: 2px solid black;
  width: fit-content;
}

.about__list {
  list-style: none;
  padding: 0;
  text-align: justify;
}

@media all and (min-width: 768px) {
  .about__description {
    margin-left: 2rem;
  }
}
