.game__detail {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 2px solid black;
}

a {
  color: aqua;
}

.links__container {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
}

p {
  margin-top: 10px;
}
