.game__detail {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-bottom: 2px solid black;
}

a {
  color: aqua;
}

p {
  margin-top: 10px;
}

.links__container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.link__button {
  border: 2px solid rgb(76, 251, 61);
  border-radius: 5px;
  background-color: rgb(2, 31, 40);
  color: rgb(101, 247, 205);
}
