.game__table {
  font-size: 10px;
}

.game__details {
  display: flex;
  justify-content: space-between;
}

.game__table,
.gameInfo_col {
  background-color: rgb(157, 157, 157);
  color: rgb(3, 57, 73);
  border: 1px solid rgb(255, 255, 255);
}

.game__link {
  display: block;
  text-decoration: none;
}

.cell {
  margin: 0;
  height: 40px;
  background-color: rgb(3, 57, 73);
  color: rgb(163, 255, 21);
  border: 1px solid rgb(255, 255, 255);
}

.title {
  font-size: 1.5rem;
}

.game-info {
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 768px) {
  .general-info {
    max-width: 45vw;
  }

  .game__map {
    width: 45vw;
    height: 400px;
  }

  .game__table {
    font-size: 1rem;
    margin: 2rem 0;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
  }
}
