@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  background-color: rgb(3, 57, 73);
  display: flex;
  justify-content: space-between;
  color: rgb(163, 255, 21);
  border-bottom: 3px solid rgb(163, 255, 21);
}

.background_img {
  height: 50%;
  width: 100%;
  margin: 0;
}

.NYSL_header {
  display: flex;
}

.logo {
  width: 35px;
  height: 35px;
  margin: 5px 10px 5px 5px;
}

.menu__icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 1%;
}

.list {
  display: grid;
  grid-template-columns: auto;
  justify-content: space-around;
  text-align: center;
  gap: 0.2rem;
  font-size: 11px;
  list-style: none;
}

.menu_img {
  width: 24px;
  height: 24px;
}

.menu__link {
  background: rgb(3, 57, 73);
  color: #a3ff15;
  border: 4px solid #a3ff15;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  width: 7rem;
}

.active {
  background: #a3ff15;
  color: #033949;
  border: 4px solid #033949;
  border-radius: 5px;
}
