header {
  height: 320px;
  background-image: url("./../images/design1_image1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.header__title {
  background-color: rgb(35, 50, 97, 0.6);
  display: flex;
  justify-content: center;
  border: 2px solid rgb(127, 238, 41);
  color: rgb(127, 238, 41);
}

h1 {
  font-size: 25px;
  height: 40px;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

nav {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 1rem 1rem 0;
}

.list {
  position: relative;
  top: 20px;
  left: 10px;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  gap: 0.5rem;
  font-size: 11px;
  list-style: none;
}

.menu__link {
  background: rgb(127, 238, 41);
  padding: 0.5rem;
  color: rgb(35, 50, 97);
  border: 4px solid rgb(35, 50, 97);
}

.active {
  background: rgb(35, 50, 97);
  color: rgb(127, 238, 41);
  border: 4px solid rgb(127, 238, 41);
}
