.logo {
  width: 150px;
  height: 150px;
}

.event__date {
  font-style: italic;
  border-bottom: 2px solid black;
  width: fit-content;
}

.event__name {
  text-align: justify;
  margin-left: 1.5rem;
}
