.messages__container {
  text-align: right;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid rgb(76, 251, 61);
  background-image: url("./../images/background_messages.jpg");
  height: 400px;
  overflow-y: scroll;
}

.message__header {
  display: flex;
  justify-content: space-between;
}

.text__container {
  display: grid;
}

.text__message {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.message {
  display: flex;
}

.author {
  background-color: rgb(101, 247, 205);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-left: 5px;
  padding: 0 5px 2px 5px;
  font-weight: 600;
}

.text {
  background-color: rgb(76, 251, 61);
  margin-left: 15px;
  padding: 0 5px 2px 5px;
  border-radius: 5px;
  text-align: justify;
}

.date {
  color: aliceblue;
  margin-right: 5px;
  font-size: 10px;
}

.time {
  display: flex;
  align-items: end;
  color: aliceblue;
  margin-left: 5px;
  font-size: 10px;
}

.remove {
  background-color: transparent;
  border: none;
  margin-right: 5px;
}

.delete_icon {
  width: 10px;
}

.messages__button {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.messages__text {
  width: 100%;
}

.send__button {
  border: 2px solid rgb(2, 31, 40);
  border-radius: 5px;
  background-color: rgb(101, 247, 205);
  color: rgb(2, 31, 40);
}

.links__container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.link__button {
  border: 2px solid rgb(76, 251, 61);
  border-radius: 5px;
  background-color: rgb(2, 31, 40);
  color: rgb(101, 247, 205);
}
