body {
  background-color: rgb(3, 57, 73);
  color: rgb(163, 255, 21);
}

.subheader {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 50px;
  font-family: "Chewy", cursive;
  border-top: 2px solid rgb(163, 255, 21);
  border-bottom: 2px solid rgb(163, 255, 21);
  background-color: rgb(3, 57, 73);
}

.content {
  text-align: center;
  margin: 1rem 1rem;
  font-family: "Itim", cursive;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  color: rgb(163, 255, 21);
}

@media all and (min-width: 768px) {
  .content {
    text-align: left;
    display: flex;
    gap: 1rem;
  }

  .title {
    margin-left: 10rem;
    width: 60%;
  }
}
